/* html, body { 
    height: 100%;
} */
body{	
	display:flex;
	min-height: 100vh;
	flex-wrap:wrap;	
	color:#FFFFFF;
	     background: -moz-linear-gradient(45deg, #1298FF 0%, #1298FF 31%, #29E5F2 71%, #29E5F2 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #1298FF), color-stop(31%, #1298FF), color-stop(71%, #29E5F2), color-stop(100%, #29E5F2)); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, #1298FF 0%, #1298FF 31%, #29E5F2 71%, #29E5F2 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, #1298FF 0%, #1298FF 31%, #29E5F2 71%, #29E5F2 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, #1298FF 0%, #1298FF 31%, #29E5F2 71%, #29E5F2 100%); /* ie10+ */
    background: linear-gradient(45deg, #1298FF 0%, #1298FF 31%, #29E5F2 71%, #29E5F2 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29E5F2', endColorstr='#1298FF',GradientType=1 ); /* ie6-9 */ 
	
	font-family: 'Raleway', sans-serif;
}

[class*="col-"] {
    float: left;
    padding: 0px 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
* {
    box-sizing: border-box;
}
h1, h3{
	text-align:center;
	font-size:1.3em;
	clear:left;
}


nav{
	background-color:#607D8B;
	height:6%;
	color:white;
}
nav .img{
	width:20%;
	float:left;
}
nav h1{
	margin-left:12%;
	display:inline;
	position: absolute;
}

#map{
	width:100%;
	height:100%;
}

.text{
	width: 100%;
	height: 25px;
	font-size: 14px;
	color: #555;
	border-color:gray;
	background-color: white;
	border-radius: 4px;
	margin-bottom:2%;
	font-family: 'Raleway', sans-serif;
	
}


#ok{
	margin-right:5%;
}

#formulario{
	margin-top:5%;
}
button{
	background-color: #607D8B;
	color: black;
	border: 1px solid transparent;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	width: 47%;
	float: left;
	cursor:pointer;
	max-height:252px;
	margin:1.5%;
	padding:1.5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.fullCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	width: 100%;
	float: left;
	cursor:pointer;
}

.fullCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.imgFull{
	width:100%;
	min-height: 145px;
	border-radius:100%;
	padding: 10%;
}


.container {
    padding: 2px 16px;
	text-align:center;
	height: 66px;
	max-height: 66px;
	overflow: hidden;
}
.fullContainer{
	text-align:center;
}

.container > h4{
	margin: 1px 0px;
	
}


.imgPerfil{
	width:100%;
	min-height: 145px;
}
.imgAlbum{
	width:100%;
	min-height: 145px;
	border-radius:50%;
	max-height: 148px;
}

.bloque{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 100%;
	height: 20%;
	cursor: pointer;
	display: table;
	max-height:2%;
	text-align:center;
	margin: 20px 0px;
}
.bloque:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.imgCancion{
	float: left;
	display: table-column;
	width:48%;
}


.container-bloque{
	padding: 2px 16px;
	text-align:center;
	overflow:hidden;
    text-overflow: ellipsis;
	max-height:139px;
}


footer{
	background-color:#607D8B;
	clear:both;
	text-align:center;
	align-self:flex-end;
	height:10%;
	
	
}

.iconos{
	padding: 2%;
	list-style: none;
    float:left;
	margin:0;
	width:100%;
	height:100%;
}

.iconos > li{
	vertical-align:middle;
	width:33.3%;
	float:left;
	cursor:pointer;
	
}

.glyphicon-text{
	display:block;
}


.paginado > li{
	float:left;
	cursor: pointer;
}

textarea{
	width: 100%;
	font-family:inherit;
}

.glyphicon-chevron-left{
	float:left;
}
.glyphicon-chevron-right{
	float: right;;
}

#pagtit{
	margin-left: 30%;
	font-size: 1.6em;
}
/*RESPONSIVE*/

.noDisplay{
	display:none;
}

/*Móviles en horizontal o tablets en vertical*/
@media (min-width: 480px){
	body{
		padding:0px 7%;
	}
	.imgPerfil{
		max-height: 175px;
	}
	.imgAlbum{
		max-height: 148px;
	}
	#pagtit{
		margin-left: 40%;
		
	}

	.imgCancion{
		max-height: 190px;
	}
	
	.imgFull{
		width:60%;
		margin:0px 20%;
	}
	
	nav h1{
		margin-left:15%;
	}

}

@media (min-width: 768px){
	body{
		padding:0px 17%;
	}
	.imgFull, .imgAlbum{
		width:60%;
		margin:0px 20%;
	}

	#pagtit{
		margin-left: 40%;
	
	}

	.imgCancion{
		float: left;
		display: table-column;
		width: 46%;
		height: 332px;
		
	}
	nav .img{
		width: 15%;
	}
	
	
}

/*Tablets en horizontal y escritorios normales*/
@media (min-width: 1024px){
	
	body{
		padding:0px 15%;
	}
	.imgFull{
		width:60%;
		margin:0px 20%;
		max-height: 350px;
	}
	.imgAlbum, .imgPerfil{
		width: 80%;
		margin-left: 10.5%;
		min-height: 175px;
		min-width: 160px;
	}
	.imgAlbum {
    max-height: 248px;
}

	.imgCancion{
		float: left;
		display: table-column;
		width:35%;
	}

	#pagtit{
		margin-left:42%;
	}
	
	nav .img{
		width: 10%;
	}
	nav h1{
		margin-left: 22%;
		margin-top: 2%;
	}
	.card{
		text-align: center;
		padding:0%;
		min-height: 300px;
		max-height: 354px;
	}
	.imgPerfil{
		margin-left:0%;
		width: 50%;
		height: 223px;
		min-height: 223px;
		min-width: 223px;
	}

	.imgFull{
		max-height: none;
		width: none;
		padding:3%;
	}
	.bloque{
		height: 332px;
		margin: 60px 0px;
	}
	.imgCancion{
		max-height: none;
	}
	.container-bloque{
		font-size: x-large;
		max-height:none;
	}
	.noDisplay{
		display:inherit;
	}
}

/*Escritorios muy anchos*/
@media (min-width: 1200px){
	
}
